.avatar-picture {
  border-radius: 99px;
  border: 2px solid transparent;
}

.avatar-button {
  width: auto;
  height: auto;
  padding: 0px;
}

.avatar-button.no-bg {
  background-color: transparent;
}

.avatar-realname-label, .avatar-username-label {
  padding-left: 10px;
  padding-right: 10px;
}

.avatar-username-label.with-real-name {
  color: #999;
}
